<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinUIpad.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinUIpad.Settings>
            <setting name="StatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>825</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="FontItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>18</value>
            </setting>
        </WinUIpad.Settings>
    </userSettings>
</configuration>